
$base-font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$terminal-font: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

$base-font-size: 14px;

$base-font-color: #333;

$white: #FFFFFF;
$pale-sky: #6c757d;
$alto:  #dddddd;
$wood-smoke: #0f0f10;
$silver-sand: #c2c3c4;
$mine-shaft: #3a3a3a;
